<article class="main__section__recomendados__articulos">
    <img src="/images/Productos-img/PC-GAMER-AMD-RYZEN-5-5500-RTX-3050-B450M-16GB-500SSD-500W-AUREOX-ORION.webp"
        alt="">
    <b class="main__section__recomendados__articulos__detalle"><%= name %> +</b>
     <p> <%= discountAmount%>%OFF</p>
    <h2 class="main__section__recomendados__precio">$<%= price %></h2>
    <small class="main__section__recomendados__cuotas">12 cuotas sin interés</small>
    <div class="article1__boton__general button">
        <a href="/product/detail/<%= id %>"><button class="boton__general">VER MÁS</button></a>
    </div>
</article>