<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')  %> 

<body>
    <%- include('../partials/header')  %> 
    <!-- MAIN -->
    <main>
        <section class="main__info__section">
            <div class="main__info__section__container">
                <h2>Resultado de búsqueda</h2>
                <small>Nº de resultados: 0</small>
                <hr>
                <h2>Ordenar productos</h2>
                <select name="categoria" id="categoria">
                    <option value="categoria">Más relevantes</option>
                    <option value="categoria">Menor precio</option>
                    <option value="categoria">Mayor precio</option>
                </select>
                <hr>
                <div class="main__info__menutablet">
                    <h2>Categorías</h2>
                    <a href=""><p>Categoría relacionada</p></a>
                    <a href=""><p>Categoría relacionada</p></a>
                    <hr>
                    <h2>Marcas</h2>
                </div>

                <label class="container__checkbox">
                    <input type="checkbox">
                    <span class="checkmark">MSI</span>
                  </label>
                  
                  <label class="container__checkbox">
                    <input type="checkbox">
                    <span class="checkmark">ASUS</span>
                  </label>
                  
                  <label class="container__checkbox">
                    <input type="checkbox">
                    <span class="checkmark">ASROCK</span>
                  </label>

                  <label class="container__checkbox">
                    <input type="checkbox">
                    <span class="checkmark">GIGABYTE</span>
                  </label>
            </div>
        </section>
        <section>
            <div class="main__section__article">
                <article class="main__section__recomendados__articulos">
                    <img src="/images/Productos-img/PC-GAMER-AMD-RYZEN-5-5500-RTX-3050-B450M-16GB-500SSD-500W-AUREOX-ORION.webp"
                        alt="">
                    <b class="main__section__recomendados__articulos__detalle">Nombre del producto + detalles</b>
                    <h2 class="main__section__recomendados__precio">$10.000</h2>
                    <small class="main__section__recomendados__cuotas">12 cuotas sin interés</small>
                    <div class="article1__boton__general button">
                        <button class="boton__general">VER MÁS</button>
                    </div>
                </article>
                <article class="main__section__recomendados__articulos">
                    <img src="/images/Productos-img/PC-GAMER-AMD-RYZEN-5-5500-RTX-3050-B450M-16GB-500SSD-500W-AUREOX-ORION.webp"
                        alt="">
                    <b class="main__section__recomendados__articulos__detalle">Nombre del producto + detalles</b>
                    <h2 class="main__section__recomendados__precio">$10.000</h2>
                    <small class="main__section__recomendados__cuotas">12 cuotas sin interés</small>
                    <div class="article1__boton__general button">
                        <button class="boton__general">VER MÁS</button>
                    </div>
                </article>
                <article class="main__section__recomendados__articulos">
                    <img src="/images/Productos-img/PC-GAMER-AMD-RYZEN-5-5500-RTX-3050-B450M-16GB-500SSD-500W-AUREOX-ORION.webp"
                        alt="">
                    <b class="main__section__recomendados__articulos__detalle">Nombre del producto + detalles</b>
                    <h2 class="main__section__recomendados__precio">$10.000</h2>
                    <small class="main__section__recomendados__cuotas">12 cuotas sin interés</small>
                    <div class="article1__boton__general button">
                        <button class="boton__general">VER MÁS</button>
                    </div>
                </article>
                <article class="main__section__recomendados__articulos">
                    <img src="/images/Productos-img/PC-GAMER-AMD-RYZEN-5-5500-RTX-3050-B450M-16GB-500SSD-500W-AUREOX-ORION.webp"
                        alt="">
                    <b class="main__section__recomendados__articulos__detalle">Nombre del producto + detalles</b>
                    <h2 class="main__section__recomendados__precio">$10.000</h2>
                    <small class="main__section__recomendados__cuotas">12 cuotas sin interés</small>
                    <div class="article1__boton__general button">
                        <button class="boton__general">VER MÁS</button>
                    </div>
                </article>
                <article class="main__section__recomendados__articulos">
                    <img src="/images/Productos-img/PC-GAMER-AMD-RYZEN-5-5500-RTX-3050-B450M-16GB-500SSD-500W-AUREOX-ORION.webp"
                        alt="">
                    <b class="main__section__recomendados__articulos__detalle">Nombre del producto + detalles</b>
                    <h2 class="main__section__recomendados__precio">$10.000</h2>
                    <small class="main__section__recomendados__cuotas">12 cuotas sin interés</small>
                    <div class="article1__boton__general button">
                        <button class="boton__general">VER MÁS</button>
                    </div>
                </article>
                <article class="main__section__recomendados__articulos">
                    <img src="/images/Productos-img/PC-GAMER-AMD-RYZEN-5-5500-RTX-3050-B450M-16GB-500SSD-500W-AUREOX-ORION.webp"
                        alt="">
                    <b class="main__section__recomendados__articulos__detalle">Nombre del producto + detalles</b>
                    <h2 class="main__section__recomendados__precio">$10.000</h2>
                    <small class="main__section__recomendados__cuotas">12 cuotas sin interés</small>
                    <div class="article1__boton__general button">
                        <button class="boton__general">VER MÁS</button>
                    </div>
                </article>
                <article class="main__section__recomendados__articulos">
                    <img src="/images/Productos-img/PC-GAMER-AMD-RYZEN-5-5500-RTX-3050-B450M-16GB-500SSD-500W-AUREOX-ORION.webp"
                        alt="">
                    <b class="main__section__recomendados__articulos__detalle">Nombre del producto + detalles</b>
                    <h2 class="main__section__recomendados__precio">$10.000</h2>
                    <small class="main__section__recomendados__cuotas">12 cuotas sin interés</small>
                    <div class="article1__boton__general button">
                        <button class="boton__general">VER MÁS</button>
                    </div>
                </article>
                <article class="main__section__recomendados__articulos">
                    <img src="/images/Productos-img/PC-GAMER-AMD-RYZEN-5-5500-RTX-3050-B450M-16GB-500SSD-500W-AUREOX-ORION.webp"
                        alt="">
                    <b class="main__section__recomendados__articulos__detalle">Nombre del producto + detalles</b>
                    <h2 class="main__section__recomendados__precio">$10.000</h2>
                    <small class="main__section__recomendados__cuotas">12 cuotas sin interés</small>
                    <div class="article1__boton__general button">
                        <button class="boton__general">VER MÁS</button>
                    </div>
                </article>
                <article class="main__section__recomendados__articulos">
                    <img src="/images/Productos-img/PC-GAMER-AMD-RYZEN-5-5500-RTX-3050-B450M-16GB-500SSD-500W-AUREOX-ORION.webp"
                        alt="">
                    <b class="main__section__recomendados__articulos__detalle">Nombre del producto + detalles</b>
                    <h2 class="main__section__recomendados__precio">$10.000</h2>
                    <small class="main__section__recomendados__cuotas">12 cuotas sin interés</small>
                    <div class="article1__boton__general button">
                        <button class="boton__general">VER MÁS</button>
                    </div>
                </article>
                <article class="main__section__recomendados__articulos__tablet">
                    <img src="/images/Productos-img/PC-GAMER-AMD-RYZEN-5-5500-RTX-3050-B450M-16GB-500SSD-500W-AUREOX-ORION.webp"
                        alt="">
                    <b class="main__section__recomendados__articulos__detalle">Nombre del producto + detalles</b>
                    <h2 class="main__section__recomendados__precio">$10.000</h2>
                    <small class="main__section__recomendados__cuotas">12 cuotas sin interés</small>
                    <div class="article1__boton__general button">
                        <button class="boton__general">VER MÁS</button>
                    </div>
                </article>
                <article class="main__section__recomendados__articulos__tablet">
                    <img src="/images/Productos-img/PC-GAMER-AMD-RYZEN-5-5500-RTX-3050-B450M-16GB-500SSD-500W-AUREOX-ORION.webp"
                        alt="">
                    <b class="main__section__recomendados__articulos__detalle">Nombre del producto + detalles</b>
                    <h2 class="main__section__recomendados__precio">$10.000</h2>
                    <small class="main__section__recomendados__cuotas">12 cuotas sin interés</small>
                    <div class="article1__boton__general button">
                        <button class="boton__general">VER MÁS</button>
                    </div>
                </article>
                <article class="main__section__recomendados__articulos__tablet">
                    <img src="/images/Productos-img/PC-GAMER-AMD-RYZEN-5-5500-RTX-3050-B450M-16GB-500SSD-500W-AUREOX-ORION.webp"
                        alt="">
                    <b class="main__section__recomendados__articulos__detalle">Nombre del producto + detalles</b>
                    <h2 class="main__section__recomendados__precio">$10.000</h2>
                    <small class="main__section__recomendados__cuotas">12 cuotas sin interés</small>
                    <div class="article1__boton__general button">
                        <button class="boton__general">VER MÁS</button>
                    </div>
                </article>
            </div>
        </section>
        <div class="flechas__navegador">
            <i class="fa-solid fa-arrow-left"></i>
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <i class="fa-solid fa-arrow-right"></i>
        </div>


    </main>
    <%- include('../partials/footer')  %> 
</body>

</html>