<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyper Store | Cart</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/30aba88446.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- HEADER -->
    <header>
        <section class="header__section">
            <div class="header__section__bars">
                <button><i class="fa-solid fa-bars"></i></button>
            </div>
            <div class="header__section__logo1">
                <a href="/"><img src="/images/logo1.png" alt="hyperstore"></a>
            </div>
            <div class="header__section__logo2">
                <a href="/"><img  src="/images/logo2.png" alt="hyperstore"></a>
            </div>
            <div class="header__section__buscador">
                <form action="">
                    <input class="header__section__buscador__barra" type="text" placeholder="Buscar productos, marcas">
                    <button class="header__section__buscador__boton" type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="header__section__menu1">
                <button><i class="fa-solid fa-user"></i></button>
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                <button><i class="fa-solid fa-cart-shopping"></i></button>
            </div>
            <div class="header__section__menu2">
                <ul>
                    <li><a href="/login"><i class="fa-solid fa-user"></i>Mi Cuenta</a></li>
                    <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i>Mi Carrito</a></li>
                    <p class="header__section__menu2__contador">0</p>
                </ul>
                
            </div>
        </section>
        <section class="header__section2">
            <div class="header__section2__categorias">
                <button><i class="fa-solid fa-bars"></i> Busqueda por categoría</button>
            </div>
            <div class="header__section2__armarpc">
                <button>Arma tu Pc</button>
            </div>
            <div class="header__section2__contacto">
                <button>Contactanos!</button>
            </div>
        </section>
    </header>
        <!-- MAIN -->
        <main>
        
        </main>
        <!-- FOOTER -->
        <footer>
        </footer>
</body>
</html>