<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')  %> 
<body>
    <%- include('../partials/header')  %> 
        <!-- MAIN -->
        <main>
            <section class="main__category__section">
                <article class="main__category__article1">
                    <div class="main__category__room"><img src="/images/setup-category2.png" alt=""></div>
                    <div class="main__category__nav">
                        <button class="learn-more btn1">
                            <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                            </span>
                            <span class="button-text">PC</span>
                          </button>
                          <button class="learn-more btn2">
                            <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                            </span>
                            <span class="button-text">Audio</span>
                          </button>
                          <button class="learn-more btn3">
                            <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                            </span>
                            <span class="button-text">Mobiliario</span>
                          </button>
                          <button class="learn-more btn4">
                            <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                            </span>
                            <span class="button-text">Mouse</span>
                          </button>
                          <button class="learn-more btn5">
                            <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                            </span>
                            <span class="button-text">Monitores</span>
                          </button>
                          <button class="learn-more btn6">
                            <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                            </span>
                            <span class="button-text">Teclados</span>
                          </button>
                          <button class="learn-more btn7">
                            <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                            </span>
                            <span class="button-text">Perifericos</span>
                          </button>
                    </div>
                </article>
            </section>
        </main>
    <%- include('../partials/footer')  %> 
</body>
</html>