<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')  %> 
  <body>
    <%- include('../partials/header')  %> 
    <main class="help__main">
      <section class="help__main__section-consultation">
        <div>
          <h2>Lo mas consultado</h2>
        </div>
        <article class="help__main__section__article">
          <h3>Subir comprobante de pago</h3>
        </article>
        <article class="help__main__section__article">
          <h3>Iniciar tramite de garantia</h3>
        </article>
        <article class="help__main__section__article">
          <h3>¿Donde se encuentra mi pedido?</h3>
        </article>
      </section>
      <section class="help__main__section-questions">
        <div>
          <h2>Preguntas frecuentes</h2>
        </div>
        <article class="help__main__section__article__questions">
          <div class="help__main__section__box">
            <i class="fa-solid fa-truck"></i>
            <h3>Retiro y envios</h3>
            <ul>
              <li>Hay un faltante en mi compra</li>
              <li>¿Qué hago?</li>
              <li>¿Dónde se encuentra mi pedido?</li>
              <li>Modificar el domicilio de entrega</li>
              <li>¿Qúe tipos de envío existen?</li>
            </ul>
            <div class="help__buttons">
              <button class="boton__general">ver más</button>
            </div>
          </div>
        </article>
        <article class="help__main__section__article__questions">
          <div class="help__main__section__box">
            <i class="fa-sharp fa-solid fa-house"></i>
            <h3>Nuestra empresa</h3>
            <ul>
              <li>¿Cómo es el proceso de facturación?</li>
              <li>¿Qué medios de pago aceptan?</li>
              <li>¿Puedo solicitar cambio de factura B por A?</li>
              <li>Quiero anular una compra</li>
              <li>Como recibir o retirar un producto</li>
            </ul>
            <div class="help__buttons">
              <button class="boton__general">ver más</button>
            </div>
          </div>
        </article>
        <article class="help__main__section__article__questions">
          <div class="help__main__section__box">
            <i class="fa-solid fa-shop"></i>
            <h3>Compras</h3>
            <ul>
              <li>Quiero solicitar un presupuesto</li>
              <li>Quiero consultar sobre el stock</li>
              <li>¿Cómo comprar en hyperstore.com.ar?</li>
              <li>¿Es seguro comprar en hyperstore.com.ar?</li>
              <li>No funciona mi cupon de envio gratis</li>
            </ul>
            <div class="help__buttons">
              <button class="boton__general">ver más</button>
            </div>
          </div>
        </article>
        <article class="help__main__section__article__questions">
          <div class="help__main__section__box">
            <i class="fa-solid fa-shield"></i>
            <h3>Garantias</h3>
            <ul>
              <li>¿Cómo es el servicio de garantía?</li>
              <li>Requisitos para reclamar la garantía</li>
              <li>¿Cuánto demora el servicio de garantía?</li>
              <li>¿Cuáles son las excepciones existentes?</li>
            </ul>
            <div class="help__buttons">
              <button class="boton__general">ver más</button>
            </div>
          </div>
        </article>
        <article class="help__main__section__article__questions">
          <div class="help__main__section__box">
            <i class="fa-sharp fa-solid fa-cart-shopping"></i>
            <h3>Pago y facturacion</h3>
            <ul>
              <li>Informar un error en el cobro de mi compra</li>
              <li>Solicitar una copia de mi factura</li>
              <li>Devoluciones en tarjetas de crédito y débito</li>
              <li>¿Puedo solicitar factura A?</li>
            </ul>
            <div class="help__buttons">
              <button class="boton__general">ver más</button>
            </div>
          </div>
        </article>
        <article class="help__main__section__article__questions">
          <div class="help__main__section__box">
            <i class="fa-solid fa-user"></i>
            <h3>Cuenta</h3>
            <ul>
              <li>Problemas al querer ingresar</li>
              <li>Cambiar la contraseña</li>
              <li>Cambiar el email</li>
              <li>Visualizar datos de Usuario</li>
            </ul>
            <div class="help__buttons">
              <button class="boton__general">ver más</button>
            </div>
          </div>
        </article>
      </section>
    </main>
    <%- include('../partials/footer')  %> 
  </body>
</html>
