<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')  %> 
  <body>
    <%- include('../partials/header')  %> 
    <!-- MAIN -->
    <main class="register__main">
      <section class="register__main__section">
        <div class="register__main__section__titulares">
          <h2>Registrarse</h2>
          <h4>Registrate con tu correo electronico</h4>
        </div>
        <form action="" class="register__main__section__form">
          <div class="register__form__box">
            <label for="email">Email</label>
            <input
              type="email"
              placeholder="Ingresa tu email"
              required
              id="email"
            />
          </div>
          <div class="register__form__box">
            <label for="password">Contrase単a</label>
            <input
              type="password"
              placeholder="Ingresa tu contrase単a"
              id="password"
              required
            />
            <button type="button">
              <i class="fa-solid fa-eye"></i>
            </button>
          </div>
          <div class="register__form__box">
            <label for="repeat-password">Repetir contrase単a</label>
            <input
              type="password"
              placeholder="Repite tu contrase単a"
              id="repeat-password"
              required
            />
            <button type="button">
              <i class="fa-solid fa-eye"></i>
            </button>
          </div>
          <div class="register__button">
            <button type="submit" class="boton__general">Registrarse</button>
          </div>
          <div class="register__socialmedia">
            <h4>O registrate con:</h4>
            <button href=""><i class="fa-brands fa-google"></i>Google</button>
            <button href=""><i class="fa-brands fa-facebook"></i>Facebook</button>
          </div>

        </form>
      </section>
    </main>
    <%- include('../partials/footer')  %> 
  </body>
</html>
