<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')  %> 
<body>
  <!-- Header -->
    <%- include('./partials/header')  %> 
        <!-- MAIN -->
        <main class="main__user">
            <section class="main__section__user">
                <article class="main__article__user__menu">
                    <p>HyperStore</p>
                    <p>hyperStore@gmail.com</p>
                    <button class="boton__general">Mis Compras</button>
                    <button class="boton__general">Salir</button>
                </article>
                <article class="main__article__user__datos">
                    <h2>Mis Datos</h2>
                    <form action="">
                        <div class="input__group__general">
                            <input id="name" class="input__general" type="text" />
                            <label for="name" class="label__general">Nombre</label>
                          </div>
                          <div class="input__group__general">
                            <input id="lastname" class="input__general" type="text" />
                            <label for="lastname" class="label__general">Apellido</label>
                          </div>
                          <div class="input__group__general">
                            <input id="phone" class="input__general" type="number" />
                            <label for="phone" class="label__general">Telefono</label>
                          </div>
                          <div class="input__group__general">
                            <input id="dni" class="input__general" type="number" />
                            <label for="dni" class="label__general">Dni</label>
                          </div>
                          <button class="boton__general">Guardar</button>
                    </form>
                </article>
                <article class="main__article__user__direcciones">
                    <h2>Mis Direcciones</h2>
                    <form action="">
                        <div class="input__group__general">
                            <input id="street" class="input__general" type="number" />
                            <label for="street" class="label__general">Calle</label>
                          </div>
                          <div class="input__group__general">
                            <input id="altura" class="input__general" type="number" />
                            <label for="altura" class="label__general">Altura</label>
                          </div>
                          <div class="input__group__general">
                            <input id="floor" class="input__general" type="number" />
                            <label for="floor" class="label__general">Piso</label>
                          </div>
                          <div class="input__group__general">
                            <input id="dept" class="input__general" type="number" />
                            <label for="dept" class="label__general">Departamento</label>
                          </div>
                          <div class="input__group__general">
                            <input id="ref" class="input__general" type="number" />
                            <label for="ref" class="label__general">Referencias</label>
                          </div>
                          <div class="input__group__general">
                            <input id="postcode" class="input__general" type="number" />
                            <label for="postcode" class="label__general">Codigo Postal</label>
                          </div>
                          <div class="input__group__general">
                            <input id="province" class="input__general" type="number" />
                            <label for="province" class="label__general">Provincia</label>
                          </div>
                          <div class="input__group__general">
                            <input id="location" class="input__general" type="number" />
                            <label for="location" class="label__general">Localidad</label>
                          </div>
                          <button class="boton__general">Guardar</button>
                    </form>
                </article>    
            </section>
        </main>
        <!-- Footer -->
    <%- include('./partials/footer')  %> 

    <script src="/javascripts/user.js" type="text/javascript"></script>
</body>
</html>