.dash__section{
    padding: 0px 0px 25px;
}

.dash__container {
    padding: 20px 0px 0px;
}

.dashboard__section__container {
    border: 1px solid var(--colorGris);
    border-radius: 8px;
    padding: 20px 25px;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.dashboard__section__container i {
    color: var(--colorFondo);
    padding: 10px;
}

.dashboard__section__container button {
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px;
    background-color: var(--colorVioleta);
}

.dashboard__section__container p {
    font-weight: 500;
    display: none;
}

.lista__container{
    border: 1px solid var(--colorGris);
    border-radius: 8px;
    padding: 20px 25px 25px;
    width: 75%;
    margin: auto;
}

.table__email{
    display: none;
}

.lista__container h2{
    color: white;
    font-weight: 600;
    padding: 0px 0px 10px 0px;
}

.list-group{
    --bs-list-group-item-padding-x: 4.5rem;
    font-size: 8px;
}

.estadisticas{
    padding: 0px 0px 20px;
}

.estadisticas__section{
    border: 1px solid var(--colorGris);
    border-radius: 8px;
    padding: 20px 25px 5px;
    margin: 0px 0px 25px;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.estadisticas__section h2{
    color: white;
    font-family: var(--fuenteBase);
    font-weight: bolder;
    font-size: 12px;
}

.estadisticas__container{

}

.producto__container{
    padding: 0px 0px 25px;
}

.producto{
    border: 1px solid var(--colorGris);
    border-radius: 8px;
    padding: 20px 25px 25px;
    margin: 0px 0px 25px;
    width: 75%;
    margin: auto;
}

.producto h3{
    color: white;
    text-transform: capitalize;
    padding: 10px 0px;
}

.producto__file{
    padding: 20px 0px;
}

.producto__file input{
    width: 75%;
    color: white;
    background-color: none;
}

/* TABLET */

@media(min-width: 768px){
    .dashboard__section__container {
        border: 1px solid var(--colorGris);
        border-radius: 8px;
        padding: 20px 25px;
        width: 75%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
    .dashboard__section__container p {
        font-weight: 500;
        font-size: 10px;
        display: block;
    }
    .table__email{
        display: block;
    }
    .estadisticas__section h2{
        color: white;
        font-family: var(--fuenteBase);
        font-weight: bolder;
        font-size: 18px;
    }
    .estadisticas__section{
        border: 1px solid var(--colorGris);
        border-radius: 8px;
        padding: 20px 25px 5px;
        margin: 0px 0px 25px;
        width: 75%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
/*     .producto{
        border: 1px solid var(--colorGris);
        border-radius: 8px;
        padding: 20px 25px 5px;
        margin: 0px 0px 25px;
        width: 75%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    } */
}

/* DESKTOP */

@media(min-width: 1024px){
    .dashboard__section__container p {
        font-size: 14px;
    }
}