/* Mobile First */

.header__section{
    background-color: var(--colorNegro);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
    align-items: center;
}

.header__section__bars{
    width: 20%;
    text-align: center;
}

.header__section__bars button{
    color: white;
    border: none;
    border-radius: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    font-size: 24px;
}

.header__section__logo1{
    width: 40%;
}

.header__section__logo1 a{
    width: 100%;
}

.header__section__logo1 img{
    width: 100%;
}

.header__section__logo2{
    display: none;
    width: 20%;
}

.header__section__logo2 a{
    width: 100%;
}

.header__section__logo2 img{
    width: 100%;
}

.header__section__buscador{
    display: none;
    position: relative;
    width: 30%;
    margin: auto 0;
}

.header__section__buscador__barra{
    background-color: var(--colorFondo);
    padding: 10px;
    width: 100%;
    border-radius: 7px;
    border: solid 2px grey;
    color: white;
}

.header__section__buscador__boton{
    position: absolute;
    padding: 5px;
    background-color: var(--colorVioleta);
    border-radius: 3px;
    border: none;
    right: 10px;
    top: 7px
}

.header__section__menu1{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.header__section__menu1 button{
    color: white;
    border: none;
    border-radius: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    font-size: 15px;
}

.header__section__menu2{
    display: none;
    font-size: 12px;
}

.header__section__menu2 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.header__section__menu2 p{
    color: white;
    border-radius: 50%;
    background-color: var(--colorVioleta);
    display: inline-block;
    padding: 2px;
}

.header__section2{
    background-color: var(--colorVioleta);
    padding: 4px;
    display: none;
}

/* .header__section2__categorias{
    
} */

.header__section2__categorias button{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 15px;
    font-weight: 700;
}

/* .header__section2__armarpc{

} */

.header__section2__armarpc button{
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 4px;
}

/* .header__section2__contacto{

} */

.header__section2__contacto button{
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 4px;
}


/* Tablet */

@media (min-width:768px) {
    .header__section__logo1{
        width: 20%;
    }

    .header__section__bars{
        display: none;
    }

    .header__section__menu1{
        display: none;
    }

    .header__section__menu2{
        display: flex;
        width: 20%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .header__section__buscador{
        display: block;
    }

    .header__section2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

}


/* Desktop */

@media (min-width:1024px) {
    .header__section__logo1{
        display: none;
    }

    .header__section__logo2{
        display: block;
    }
}