.login__main {
  background-image: url("/images/background-img.jpg");
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.login__main__section {
  width: 80%;
  background-color: var(--colorFondo);
  margin: 25px 0px;
  border-radius: 10px;
}
.login__main__section__titular {
  padding: 10px 0;
  margin: 0px 15px;
}

.login__main__section__form {
  margin: 15px 0px;
}
.login__main__section__titular h2 {
  font-size: 20px;
  color: #fff;
  padding: 7px 0;
}

.login__main__section__titular h4 {
  color: #fff;
  font-size: 14px;
}

.form__box__login {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  align-content: space-around;
}

.form__box__login label {
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
}

.form__box__login input {
  background-color: var(--colorFondo);
  color: white;
  width: 90%;
  border: 1px solid var(--colorGris);
  border-radius: 10px;
  margin-top: 5px;
  padding: 14px 10px;
}

.form__box__login button {
  color: var(--colorGris);
  background-color: var(--colorFondo);
  border: none;
  display: block;
  position: absolute;
  font-size: 15px;
  top: 49px;
  right: 32px;
}

.form__box__login button i {
  font-size: 16px;
}

.button__login {
  display: flex;
  justify-content: space-around;
}
.button__login button {
  width: 90%;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
}

.login__socialmedia {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login__socialmedia h4 {
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 14px;
}

.login__socialmedia button {
  background-color: var(--colorFondo);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  margin: 15px 10px;
  padding: 10px 15px;
}

.login__forget-account {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.login__forget-account h4 {
  color: var(--colorGris);
}

@media (min-width: 768px) {
  .login__main__section {
    width: 60%;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 70px 0;
  }
  .login__main__section__titular {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    width: 75%;
  }
  .login__main__section__form {
    margin: 10px 40px;
  }
  .login__main__section__titular h2 {
    font-size: 21px;
    padding: 9px 0;
  }
  .login__main__section__titular h4 {
    font-size: 16px;
  }
  .login__socialmedia h4 {
    margin-left: 30px;
  }
  .login__socialmedia button {
    width: 41%;
    padding: 15px 15px;
    font-size: 17px;
    letter-spacing: 3px;
  }

  .form__box__login {
    align-content: space-around;
  }
  .form__box__login button {
    right: 34px;
  }
  .button__login {
    display: flex;
    justify-content: space-around;
    padding: 5px 0px;
  }
}

@media (min-width: 1024px) {
  .login__main__section__titular {
    width: 70%;
  }
  .login__main__section {
    width: 40%;
    padding: 15px 0px;
  }
  .login__socialmedia {
    justify-content: space-around;
  }
  .login__socialmedia h4 {
    font-size: 16px;
  }
  .login__socialmedia button {
    width: 40%;
    font-size: 16px;
  }
  .login__forget-account {
    margin: 0px 4px;
    font-size: 18px;
  }
}
