.boton__general{
    color: white;
    background-color: var(--colorVioleta);
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-weight: var(--WeigthFuenteSubtitulos);
    font-family: var(--fuenteBase);
    transition: all 350ms;
}

.boton__general:hover{
    background-color: #5200a5;
    box-shadow: 0px 0px 10px 5px var(--colorVioleta);
}

/* Boton Carrito */

.main__cart__article__total__botones .cancelar:hover{
    background-color: rgb(131, 17, 17);
    box-shadow: 0px 0px 10px 5px red;
}
/* BOTONES DETALLE PRODUCTO */
.article1__boton__general button{
    width: 100%;
    color: white;
    padding: 10px;
}
.article1__boton__general{
    padding: 15px 0px 0px 0px;
}

.checkbox__login{
  color: white;
}

.btn-primary{
    --bs-btn-hover-bg: var(--colorVioleta);
}

.btn{
    color: white;
    background-color: var(--colorVioleta);
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-weight: var(--WeigthFuenteSubtitulos);
    font-family: var(--fuenteBase);
    transition: all 350ms;
}

/* checkbox & radio buttons */
.b-contain *,
.b-contain *::before,
.b-contain *::after {
  box-sizing: content-box !important;
}

.b-contain input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.b-contain span {
  line-height: 1.5;
  font-size: 1rem;
  font-family: inherit;
}

.b-contain {
  display: table;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  margin-bottom: 0.4rem;
}

.b-contain input[type="checkbox"] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: #f1f5f9;
  transition: background 250ms;
  border: 1px solid #94a3b8;
  border-radius: 0.2rem;
}

.b-contain input[type="radio"] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: #f1f5f9;
  transition: background 250ms;
  border: 1px solid #94a3b8;
  border-radius: 3rem;
}

.b-contain input[type="checkbox"] ~ .b-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 3px;
  width: 0.3rem;
  height: 0.6rem;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transition: background 250ms;
  transform: rotate(45deg);
}

.b-contain input[type="radio"] ~ .b-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 4px;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 3rem;
  background: #ffffff;
  transition: background 250ms;
}

.b-contain input[type="checkbox"]:disabled ~ .b-input::after {
  border-color: #ffffff;
}

.b-contain input:checked ~ .b-input::after {
  display: block;
}

.b-contain:hover input[type="checkbox"]:not([disabled]) ~ .b-input,
.b-contain input[type="checkbox"]:focus ~ .b-input {
  background: #e2e8f0;
  border-color: #64748b;
}

.b-contain:hover input[type="radio"]:not([disabled]) ~ .b-input,
.b-contain input[type="radio"]:focus ~ .b-input {
  background: rgb(255, 255, 255);
  border-color: #64748b;
}

.b-contain input:focus ~ .b-input {
  box-shadow: 0 0 0 2px #60a5fa;
}

.b-contain input[type="checkbox"]:checked ~ .b-input {
  background: rgb(103, 59, 183);
  border-color: rgb(255, 255, 255);
}

.b-contain input[type="radio"]:checked ~ .b-input {
  background: rgb(93, 53, 176);
  border-color: rgb(255, 255, 255);
}

.b-contain input[type="checkbox"]:disabled ~ .b-input,
.b-contain input[type="radio"]:disabled ~ .b-input {
  opacity: 0.5;
  cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled ~ .b-input::after {
  background: #ffffff;
}

.b-contain:hover input[type="checkbox"]:not([disabled]):checked ~ .b-input,
.b-contain input[type="checkbox"]:checked:focus ~ .b-input {
  background: rgb(156, 40, 177);
  border-color: rgb(255, 255, 255);
}

.b-contain:hover input[type="radio"]:not([disabled]):checked ~ .b-input,
.b-contain input[type="radio"]:checked:focus ~ .b-input {
  background: rgb(93, 53, 176);
  border-color: rgb(255, 255, 255);
}

/* BOTON DASHBOARD PROVISORIO */
.BOTON__DASHBOARD__PROVISORIO{
  background-color: goldenrod;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 0px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
@media (max-width:380px) {
.BOTON__DASHBOARD__PROVISORIO{
  display: none;
  }
}