.cambioClave__main__section {
  background-image: url("/images/background-img.jpg");
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0px;
}

.cambioClave__main__section h2 {
  font-size: 16px;
  text-align: center;
  color: white;
}

.cambioClave__main__section__form {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
  border-radius: 4px;
  background-color: var(--colorFondo);
  margin: 15px 0px;
  padding: 10px 0px;
}

.cambioClave__main__section__form p {
  text-align: center;
  padding: 10px 15px;
  font-weight: 500;
}

.cambioClave__main__section__form__box {
  margin: 10px 0px;
  padding: 10px 15px;
}

.cambioClave__main__section__form__box label {
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.cambioClave__main__section__form__box input {
  background-color: var(--colorFondo);
  padding: 10px;
  width: 100%;
  border-radius: 7px;
  border: solid 2px white;
  color: white;
  margin: 10px 0px;
}

.cambioClave__main__section__form__box button {
  width: 40%;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
  border-radius: 7px;
}

.cambioClave__main__section__form__terms {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cambioClave__main__section__form__terms label {
  color: white;
  margin-left: 3px;
}

.cambioClave__main__section__form__btn {
  display: flex;
  width: 90%;
  margin: 10px 0px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .cambioClave__main__section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .cambioClave__main__section h2 {
    width: 100%;
    font-size: 18px;
    margin: 25px 0px;
  }
  .cambioClave__main__section__form {
    width: 60%;
  }
  .cambioClave__main__section__form p {
    font-size: 17px;
    margin: 15px 0px;
  }
  .cambioClave__main__section__form button {
    width: 33%;
    font-size: 15px;
    padding: 8px;
    margin: 7px 0px;
  }
  .cambioClave__main__section__form__terms {
    width: 70%;
    margin-bottom: 15px;
  }
  .cambioClave__main__section__form__terms label {
    font-size: 17px;
  }
  .cambioClave__main__section__form__btn {
    width: 60%;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
}

@media (min-width: 1024px) {
  .cambioClave__main__section h2 {
    font-size: 20px;
  }
  .cambioClave__main__section__form {
    width: 50%;
    padding: 20px 0px 20px;
  }
  .cambioClave__main__section__form__box {
    padding: 10px 35px;
  }
  .cambioClave__main__section__form__btn {
    width: 50%;
  }
  .cambioClave__main__section__form__btn button{
    padding: 9px;
    font-size: 15px;
  }
  .cambioClave__main__section__form__terms {
    width: 50%;
}
}
