.main__section{
    padding: 10px 20px 20px;
}
.main__section__categoria{
    padding: 20px;
    font-size: 12px;
}
.main__section__article1{
    border: 1px solid var(--colorGris);
    border-radius: 8px;
    padding: 20px;
}

.main__section__recomendados__articulos img{
    aspect-ratio: 3/3;
    object-fit: inherit;
}

.main__section__carousel2 img{
    aspect-ratio: 3/3;
    object-fit: inherit;
}

.main__section__carouselnav img{
    aspect-ratio: 3/3;
    object-fit: inherit;
}

.main__section__article1__description{
    padding: 10px 0px 15px;
}
.main__section__article1 h1{
    font-size: 22px;
    text-transform: uppercase;
    color: white
}
.main__section__article1 h2{
    font-size: 24px;
    text-transform: uppercase;
    color: var(--colorVioleta)
}
.main__section__article1 small{
    color: white;
}
.main__section__carousel img{
    width: 100%;
}
.main__section__imagenes img{
    width: 100%;
    border-radius: 8px;
}
.main__section__carouselnav div{
    padding: 5px;
}
/* ARROWS */
.slick-prev:before, .slick-next:before{
    visibility: hidden;
}
.main__section__article1__precio{
    text-align: center;
    margin: 0px auto;
    padding: 0px 0px 15px 0px;
}
.main__section__article1__precio i{
    color: var(--colorVioleta);
    font-size: 10px;
}
.main__section__article1__precio small{
    color: var(--colorVioleta);
    text-transform: uppercase;
    font-weight: 700;
}
.main__section__article1__precio h2{
    padding: 10px 0px 10px 0px;
}
.main__section__article1__descuento div{
    padding: 10px;
}
.main__section__article1__descuento p{
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    font-size: 11px;
}
.main__section__article1__info{
    
}
.main__section__article1__info__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}
.main__section__article1__info div{
    padding: 20px;
}
.main__section__article1__info i{
    color: white;
    font-size: 25px;
    transition: all 800ms;
}
.main__section__article1__info i:hover{
    transform: rotate(360deg);
    color: var(--colorVioleta);
}
.main__section__article1__info h3{
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 16px;
}
.main__section__article1__info small{
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 12px;
}
.main__section__article1__info b{
    color: var(--colorVioleta);
}
.main__section__article1__add__tablet{
    display: none;
    justify-content: center;
    padding: 0px 0px 15px 0px;
}
.main__section__article1__add{
    display: flex;
    justify-content: center;
    padding: 0px 0px 15px 0px;
}
.main__section__article1__add__signo1{
    border: 1px solid white;
    padding: 15px 10px;
    border-radius: 8px 0px 0px 8px;
}
.main__section__article1__add__signo2{
    border: 1px solid white;
    padding: 15px 10px;
    border-radius: 0px 8px 8px 0px;
}
.main__section__article1__add__1{
    border: 1px solid white;
    padding: 15px 25px;
}
/* .main__section__article1__boton{
}
.main__section__article1__boton button{
    width: 100%;
    font-family: var(--fuenteBase);
    font-weight: var(--WeigthFuenteTitulares);
    display: block;
    color: var(--colorFondo);
    border: none;
    border-radius: 6px;
    background-color: var(--colorVioleta);
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    transition: all 350ms;
}
.main__section__article1__boton:hover button{
    background-color: #5200a5;
} */
.main__section__article1__specs{
    padding: 22px;
}
.main__section__article1__specs hr{
    border-color: var(--colorVioleta);
}
.main__section__article1__specs h3{
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 15px 0px;
}
.main__section__article1__specs b{
    color: white;
    font-size: 14px;
}
.main__section__article1__datos__tablet{
    display: none;
}
.main__section__article1__datos{
    padding: 10px 0px;
}
.main__section__article1__datos p{
    font-size: 14px;
    padding: 5px 0px;
}
.main__section__recomendados{
}
.main__section__recomendados__articulos__tablet{
    display: none;
}
.main__section__recomendados__titulo1{
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}
.main__section__recomendados__titulo2{
    color: white;
    text-align: center;
    font-size: 18px;
}
.main__section__recomendados__titulos{
    padding: 20px 0px 0px 0px;
}
.main__section__recomendados__articulos{
    border: 1px solid var(--colorGris);
    border-radius: 8px;
    margin: 20px 0px;
}
.main__section__recomendados__articulos img{
    width: 100%;
    border-radius: 5px;
}
.main__section__recomendados__precio{
    color: var(--colorVioleta);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 20px 5px;
}
.main__section__recomendados__boton button{
    width: 100%;
    font-family: var(--fuenteBase);
    font-weight: var(--WeigthFuenteTitulares);
    display: block;
    color: var(--colorFondo);
    border: none;
    border-radius: 6px;
    background-color: var(--colorVioleta);
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    transition: all 350ms;
}
.main__section__recomendados__boton:hover button{
    background-color: #5200a5;
}
.main__section__recomendados__articulos__detalle p{
    text-align: center;
    color: white;
}

.detalle__main__title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    transition: all 450ms;
}
.detalle__main__title:hover{
        text-overflow:initial;
        overflow: visible;
        white-space:normal;
}
.main__section__recomendados__articulos{
    text-align: center;
    padding: 10px;
}
.main__section__recomendados__articulos__detalle p{
    padding: 20px 0px;
}
.main__section__recomendados__cuotas{
    color: var(--colorVioleta);
    text-transform: uppercase;
    font-weight: 700;
}
.main__section__recomendados__articulos small{
    text-align: center;
    font-size: 12px;
}
/* TABLET */
@media (min-width: 768px){
    .main__section__container{
        display: flex;
        justify-content: space-between;
    }
    .main__section__article1__panel{
        border: 1px solid var(--colorGris);
        border-radius: 8px;
        padding: 15px;
        width: 49%;
        height: 100%;
    }
    .main__section__imagenes{
        width: 49%;
        border-radius: 8px;
    }
    .main__section__article1__info__container{
        justify-content: center;
    }
    .main__section__article1__info div{
        padding: 20px 12px;
    }
    .main__section__article1__info small{
        font-size: 10px;
    }
    .main__section__article1__add__tablet{
        display: flex;
        justify-content: center;
        padding: 3px 0px 15px 0px;
    }

    .main__section__article1__descuento div {
        padding: 0px;
    }
    
    .main__section__article1__add{
        display: none;
    }
    .main__section__article1__datos__tablet{
        display: block;
        padding: 10px 0px;
        width: 33%;
    }
    .main__section__article1__datos{
        width: 33%;
        padding: 10px 0px;
    }
    .main__section__article1__specs p{
        font-size: 14px;
        padding: 5px 0px;
    }
    .main__section__article1__specs__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .main__section__article1__specs hr{
        width: 80%;
    }
    .main__section__recomendados__articulos{
        width: 32%;
    }
    .main__section__recomendados__articulos__tablet{
        display: block;
        border: 1px solid var(--colorGris);
        border-radius: 8px;
        margin: 20px 0px;
        padding: 10px;
        width: 32%;
    }
    .main__section__recomendados__articulos__tablet img{
        width: 100%;
        border-radius: 5px;
    }
    .main__section__recomendados__container{
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
/* DESKTOP */
@media (min-width:1024px) {
    .main__section__article1{
        width: 75%;
        margin: 0 auto;
    }
    .main__section__article1__panel{
        height: 100%;
    }
    .main__section__recomendados__container{
        width: 75%;
        margin: 0 auto;
    }
    .main__section__categoria{
        padding: 20px 0px 20px 125px;
    }
    .main__section__recomendados__container article{
        transition: all 500ms;
    }
    .main__section__recomendados__container article:hover{
        box-shadow: rgba(127, 0, 255, 0.45)  0px 25px 20px -20px;
    }
  } 