.logo__marca {
  filter: grayscale(100%);
  transition: filter 0.5s ease; 
}

.logo__marca:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
  filter: grayscale(0%);
}

.home__main__section__article__banner {
  width: 100%;
  margin-bottom: 30px;
  display: none;
}

.home__main__section__article__banner img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  padding-left: 5px;
  padding-right: 5px;
}

.home__main__section__article__content {
  margin: 0 auto;
  width: 80%;

}

.home__main__section__article__content h2 {
  color: var(--colorGris);
  padding: 15px 0px 0px 0px;
}

.home__main__section__article__content hr {
  background-color: var(--colorVioleta);
  color: var(--colorVioleta);
  border-color: var(--colorVioleta);
  height: 3px;
}

.botones__home {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boton__home__first {
  width: 100%;
  height: 300px;
  border: var(--colorVioleta) solid 1px;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}

.boton__home__first:hover {
  box-shadow: 0px 0px 30px 14px var(--colorVioleta);
  z-index: 100;
}

.boton__home__first p {
  display: block;
  color: white;
  padding: 5px;
  text-align: center;
  font-weight: 700;
  border: var(--colorVioleta) solid 1px;
  background-color: var(--colorVioleta);
  border-radius: 20px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.boton__home__first img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boton__home__second {
  width: 100%;
  height: 250px;
  border: var(--colorVioleta) solid 1px;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}

.boton__home__second:hover {
  box-shadow: 0px 0px 30px 14px var(--colorVioleta);
  z-index: 100;
}

.boton__home__second img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boton__home__second p {
  display: block;
  color: white;
  padding: 5px;
  text-align: center;
  font-weight: 700;
  border: var(--colorVioleta) solid 2px;
  background-color: var(--colorVioleta);
  border-radius: 20px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

/* Sliders */

.marcas {
  width: 90%;
  margin: 0 auto;
}

.marcas div{
  /* width: 40%; */
  margin: 5px;
}

.marcas img{
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.productos {
  width: 92%;
}

.productos div{
  margin: 5px;
}

.productos img{
  width: 100%;
}

/* CARD ARTICLE HOME */

.product-box {
  background-color: var(--colorFondo);
  border-radius: 5px;
  overflow: hidden;
  transition: 300ms;
  margin: 20px 0;
  border: 1px solid var(--colorGris);
  padding: 15px;
}

.product-box a {
  display: block;
}

.product-box_image {
  border-bottom: 1px solid var(--light-gray);
}
.product-box img{
  aspect-ratio: 2/2;
  object-fit: unset;
  border-radius: 5px;
  background-color: white;
}

.product-box_data {
  padding: 0px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.product-box_data span{
  padding: 5px;
  margin: 5px 0px;
  border-radius: 5px;
  background-color: var(--colorVioleta);
  font-size: 0.8em;
  color: white;
}

.product-box_data h2 {
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  color: var(--colorVioleta);
}

.product-box_data p {
  font-size: 0.7em;
  width: 100%;
  color: var(--gray);
  margin: 0;
  height: 0;
  transition: 300ms;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-box p {
  height: 20px;
  margin-top: 5px;
}

/* .card{
  background-color: var(--colorFondo);
  border: 1px solid var(--colorGris);
}

.card img{
  aspect-ratio: 2/2;
  object-fit: unset;
}

.card:hover{
  box-shadow: 0px 0px 3px 3px var(--colorVioleta);
box-shadow: -1px 1px 15px 6px rgba(127,0,255,0.81);
-webkit-box-shadow: -1px 1px 15px 6px rgba(127,0,255,0.81);
-moz-box-shadow: -1px 1px 15px 6px rgba(127,0,255,0.81);
  z-index: 100;
} */

/* .home__main__title p{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: all 450ms;
}
.home__main__title:hover{
  text-overflow:initial;
  overflow: visible;
  white-space:normal;
} */

.card-title a{
  color: var(--colorVioleta);
}

.card-text{
  color: var(--colorGris);
}

/* .titulo-tarjeta-home{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: all 2s;
}

.titulo-tarjeta-home:hover{
  text-overflow: initial;
  overflow: visible;
  white-space: normal;
} */

.slick-dotted.slick-slider {
  margin: auto;
  margin-bottom: 30px;
}

.slick-prev:before, .slick-next:before {
  visibility: hidden;
}


/* Tablet */
@media (min-width:768px) {
  .product-box {
    background-color: var(--colorFondo);
    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 20px 0;
    border: 1px solid var(--colorGris);
    padding: 15px;
  }
  
  .product-box a {
    display: block;
  }
  
  .product-box_image {
    border-bottom: 1px solid var(--light-gray);
  }
  .product-box img{
    aspect-ratio: 2/2;
    object-fit: unset;
    border-radius: 5px;
    background-color: white;
  }
  
  .product-box_data {
    padding: 0px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .product-box_data span{
    padding: 5px;
    margin: 10px 0px 0px 0px;
    border-radius: 5px;
    background-color: var(--colorVioleta);
    font-size: 0.8em;
    color: white;
  }
  
  .product-box_data h2 {
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    color: var(--colorVioleta);
  }
  
  .product-box_data p {
    font-size: 0.7em;
    width: 100%;
    color: var(--gray);
    margin: 0;
    height: 0;
    transition: 300ms;
    overflow: hidden;
    text-overflow: clip;
    white-space: normal;
  }
  
  .product-box:hover {
    box-shadow: -1px 1px 15px 6px rgba(127,0,255,0.81);
-webkit-box-shadow: -1px 1px 15px 6px rgba(127,0,255,0.81);
-moz-box-shadow: -1px 1px 15px 6px rgba(127,0,255,0.81);
  z-index: 100;
  }
  
  .product-box:hover p {
    height: 40px;
    margin-top: 5px;
  }
/*   .card-body{
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;

}
.card-body:hover{
    text-overflow:initial;
    overflow: visible;
    white-space:normal;
} */
/*   .card-body{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.6s;
    
  } */
  
 /*  .card-body:hover{
    text-overflow: initial;
    overflow: visible;
    white-space: normal;
  } */
  .home__main__section__article__banner {
    display: block;
  }

  .home__main__section__article__banner img {
    height: 250px;
  }

  .botones__home {
    flex-direction: row;
    justify-content: space-around;
  }

  .boton__home__first {
    width: 45%;
  }

  .boton__home__second {
    width: 30%;
  }

  .slick-prev:before, .slick-next:before {
    visibility: visible;
  }
}

/* Desktop */

@media (min-width:1024px) {
  .product-box {
    background-color: var(--colorFondo);
    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 20px 0;
    border: 1px solid var(--colorGris);
    padding: 15px;
  }
  
  .product-box a {
    display: block;
  }
  
  .product-box_image {
    border-bottom: 1px solid var(--light-gray);
  }
  .product-box img{
    aspect-ratio: 2/2;
    object-fit: unset;
    border-radius: 5px;
    background-color: white;
  }
  
  .product-box_data {
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .product-box_data h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
    color: var(--colorVioleta);
  }
  
  .product-box_data p {
    font-size: 0.9em;
    width: 100%;
    color: var(--gray);
    margin: 0;
    height: 0;
    transition: 300ms;
    overflow: hidden;
  }
  
  .product-box:hover {
    box-shadow: -1px 1px 15px 6px rgba(127,0,255,0.81);
-webkit-box-shadow: -1px 1px 15px 6px rgba(127,0,255,0.81);
-moz-box-shadow: -1px 1px 15px 6px rgba(127,0,255,0.81);
  z-index: 100;
  }
  
  .product-box:hover p {
    height: 40px;
    margin-top: 15px;
  }

/*   .card-body{
    width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}
.card-body:hover{
    text-overflow:initial;
    overflow: visible;
    white-space:normal;
} */
  /* .card-body{
    height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.6s;
  } */
  
/*   .card-body:hover{
    height: 200px;
    text-overflow: initial;
    overflow: visible;
    white-space: normal;
  } */

  .boton__home__first {
    height: 500px;
  }

  .boton__home__second {
    height: 350px;
  }

  .slick-prev:before, .slick-next:before {
    visibility: visible;
  }

  .home__main__section__article__banner img {
    height: 440px;
  }
}