:root{
    --colorNegro: #0E0F0F;
    --colorVioleta: #7F00FF;
    --colorFondo: #15191C;
    --colorGris: #515151;
    --fuenteBase: "inter";
    --WeigthFuenteTitulares: 800;
    --WeigthFuenteSubtitulos: 600;
    --bs-dark-rgb: 0, 0, 0;
}