<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    
    <%- include('../partials/header') %>

    <main>
        <div>
            <h2>Proximamente...</h2>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>