<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <!-- header -->
    <%- include('../partials/header') %>
      <!-- MAIN -->
      <!-- <main class="main__cart">
        <section class="main__cart__section">
          <article class="main__cart__article__productos">
            <div class="carrito__vacio">
              <i class="fa-solid fa-cart-shopping"></i>
              <h2>¡Aun no hay items en el carrito!</h2>
              <p>Agrega un producto en el carrito para poder visualizarlo</p>
            </div>
            <div class="carrito__ocupado">
              <div class="carrito__ocupado__imagen">
                <img src="/images/Productos-img/imagen_producto_temporal.webp" alt="" />
              </div>
              <div class="nombre_precio">
                <h3>Nombre</h3>
                <h4>Precio</h4>
              </div>
              <div class="desechar">
                <i class="fa-regular fa-trash-can"></i>
              </div>
            </div>
          </article>
          <article class="main__cart__article__total">
            <div>
              <div class="cart__article__contador">
                <form>
                  <label for="quantity">Agregar cantidad:</label>
                  <input type="number" id="quantity" name="quantity" min="1" max="5">
                  <button class="boton__general" type="submit">Ingresar</button>
                </form>

              </div>
              <div class="main__cart__article__total--resumen">
                <h2>Resumen del pedido</h2>
                <h3>Total</h3>
                <h3>$0.00</h3>
              </div>
              <div class="main__cart__article__total--descuento">
                <h2>Cupon de descuento</h2>
                <form action="">
                  <input type="text" />
                  <button class="boton__general">Ingresar</button>
                </form>
              </div>
              <div class="main__cart__article__total__botones">
                <button class="boton__general cancelar" type="reset">CANCELAR</button>
                <button class="boton__general" type="submit">CONFIRMAR</button>
              </div>
            </div>
          </article>
        </section>
      </main> -->
      <main class="container">

        <div class="row position-relative">

          <div id="cards-container" class="col-8">
          </div>

          <div class="card col-4 my-5 position-sticky" style="height:fit-content;top:20px">
            <div class="card-body my-2 d-flex flex-column gap-2">
              <button class="btn w-100 btn-danger" id="clear-cart">Vaciar Carrito</button>
              <button class="btn w-100 btn-success" id="btn-buy">Comprar</button>
              <a href="/product/todos" class="btn w-100 btn-dark">Seguir mirando</a>
              <div class="text-end fs-3" style="color: black;">
                <span>
                  Total:
                </span>
                <output id="output-total">
                  0
                </output>
              </div>
            </div>
          </div>

        </div>
      </main>
      <!-- Fotter -->
      <%- include('../partials/footer') %>
        /* LIGHTMODE */
        <script src="/javascripts/enableLightMode.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
          crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/javascripts/cart.js"></script>
  </body>

</html>