<ul class="pagination" style="justify-content: center">
  <li class="page-item" id="btn-prev">
    <a class="page-link" href="#" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>

  <div id="container-items-page" class="d-flex">

  </div>


  <li class="page-item" id="btn-next">
    <a class="page-link" href="#" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
</ul>
