<article class="main__section__recomendados__articulos">
    <p class="main__section__recomendados__articulos__detalle detalle__main__title"><%= name %> +</p>
     <p> <%= discount%>%OFF</p>
    <h2 class="main__section__recomendados__precio">$<%= price %></h2>
    <small class="main__section__recomendados__cuotas">12 cuotas sin interés</small>
    <div class="article1__boton__general button">
        <a href="/product/detalle/<%= id %>"><button class="boton__general">VER MÁS</button></a>
    </div>
</article>