<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <!-- header -->
    <%- include('../partials/header') %>
    <main class="cambioClave__main">
      <section class="cambioClave__main__section">
        <h2>¿Olvido su contraseña?</h2>
        <form action="" class="cambioClave__main__section__form">
          <p>
            Por favor, introduzca la dirección de correo electrónico que utilizo
            para registrarse. Recibirá un link para reestablecer la contraseña.
          </p>
          <div class="cambioClave__main__section__form__box">
            <label for="email">Dirección de correo electronico</label>
            <input type="email" id="email" />
            <button type="submit" class="boton__general">Enviar</button>
          </div>
          <div class="cambioClave__main__section__form__box">
            <label class="b-contain">
              <span>Acepto las politicas de privacidad</span>
              <input type="checkbox" />
              <div class="b-input"></div>
            </label>
          </div>
        </form>
        <div class="cambioClave__main__section__form__btn">
          <a href="/user/login">
            <button class="boton__general">< Átras para iniciar sesión</button>
          </a>
        </div>
      </section>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer') %>
    /* LIGHTMODE */
          <script src="/javascripts/enableLightMode.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
