<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

  <body class="favorites d-flex flex-column justify-content-between h-100">
    <!-- encabezado -->
    <%- include('../partials/header') %>

    <h1  class="text-center fw-bold">Favoritos</h1>
      <!-- principal -->
      <main class="container">
        <div id="cards-container" class="row justify-content-start align-items-start my-5">

          <!-- LOADING -->
          <div class="d-flex justify-content-center align-items-center" style="height:200px">
            <div class="spinner-border" role="status">
              <span class="visually-hidden m-auto">Loading...</span>
            </div>
          </div> 
        </div>
      </main>

      <%- include('../partials/footer') %>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="/javascripts/favorites.js"></script>
      /* LIGHTMODE */
      <script src="/javascripts/enableLightMode.js"></script>
  

  </body>

</html>